[submodule "vendor/ArduinoCore-avr"]
	path = vendor/ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr
[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = https://github.com/oudeis01/FastLED.git
